{% load static %}
<header>
    <!-- header inner -->
    <div class="header">
                <div class="logo">
                   <a href="{% url 'index'%}">Jteve</a>
                </div>
             </div>
           
                <ul class="email text_align_right">
                   <li> <button class="openbtn" onclick="openNav()"><img src="{% static 'images/menu_btn.png' %}"></button></li>
                   <li> <a href="javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                   <li> <a href="javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                </ul>
 </header>
</div>