{% extends 'base.html'%}
{%load static%}


{% block content%}
<div class="right_main">
       
<div class="news padd_rl30">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage text_align_left">
                <h2>Oue <span>Blog</span></h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-6">
             <div class="latest text_align_left">
               <figure><img src="{% static 'images/news1.png' %}" alt="#"/></figure>
               <div class="dist">
               <h3>Eader will be distracted by the read</h3>
               <p>established fact that a rable content of a page when looking at its layout. The point of using Lorem Ipsumeader will be distracted by the read</p>
               </div>
             </div>
             <a class="read_more" href="news.html">Read More</a>
          </div>
          <div class="col-lg-6">
             <div class="latest text_align_left">
               <figure><img src="{% static 'images/news2.png' %}" alt="#"/></figure>
               <div class="dist">
               <h3>Eader will be distracted by the read</h3>
               <p>established fact that a rable content of a page when looking at its layout. The point of using Lorem Ipsumeader will be distracted by the read</p>
               </div>
             </div>
             <a class="read_more" href="news.html">Read More</a>
          </div>
       </div>
    </div>
 </div>
{% endblock content%}