{% extends 'base.html'%}
{%load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block slider%}
{% include 'Parts/slider.html'%}
    {% endblock slider%}

{% block content%}
<div class="services padd_rl30">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage text_align_left">
               <h2>Our <span> services</span></h2>
               <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration i</p>
            </div>
         </div>
      </div>
            <div class="row">
              {% for s in service %}
               <div class="col-lg-4">
               
                  <div class="services_text">
                      <i><img src="{{s.image.url}}" alt="#"/></i>
                      <h3>{{s.title}}</h3>
                      <p>{{s.desceiption}} </p>
                      </div>
                   
                     <a class="read_more" href="{%url 'service'%}">Read More</a>
                    
               </div>
               {%endfor%}
              
            </div>
          
        
         </div>
      </div>
<!-- end services -->
<!-- about -->
<div  class="about padd_rl30">
  <div class="container">
   <div class="row">
     <div class="col-md-12">
       <div class="titlepage text_align_left">
         <h2>About <span>Us</span></h2>
         <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration i</p>
       </div>
     </div>
   </div>
   <div class="row">
        <div class="col-lg-8">
           <div class="about_text text_align_left">
                 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised</p>
                <a class="read_more" href="{%url 'about' %}">Read More</a>
           </div>
        </div>
        <div class="col-lg-4">
           <div class="about_img">
              <figure><img class="img_responsive" src="{% static 'images/about1.png' %}" alt="#"/></figure>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- end about -->
<!-- locations -->
<div class="locations padd_rl30">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="titlepage text_align_left">
              <h2>Locations</h2>
           </div>
        </div>
     </div>
     <div class="row">
      {% for l in location%}
        <div class="col-lg-4">
           <div class="bearch text_align_left">
             <figure><img src="{{l.image.url}}" alt="#"/></figure>
             <div class="city">
             <h3>{{l.title}}</h3>
             <p>{{l.desceiption}}</p>
             </div>
           </div>
           <a class="read_more" href="{% url 'locations' %}">Read More</a>
        </div>
        {%endfor%}
     </div>
  </div>
</div>
<!-- end locations -->
<!-- clients -->
<div class="clients padd_rl30">
 <div class="container">
   <div class="row">
     <div class="col-sm-12">
       <div class="titlepage text_align_center">
         <h2>Testimonial</h2>
       </div>
     </div>
   </div>
  </div>
  <!-- start slider section -->
  <div id="testi" class="carousel slide clients_banner" data-ride="carousel">
     <ol class="carousel-indicators">
        <li data-target="#testi" data-slide-to="0" class="active"></li>
        <li data-target="#testi" data-slide-to="1"></li>
        <li data-target="#testi" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="carousel-item active">
           <div class="container">
              <div class="carousel-caption testi">
                 <div class="row d_flex">
                    <div class="col-md-3">
                       <div class="pro_file">
                          <i><img class="text_align_right" src="{% static 'images/test2.png' %}" alt="#"/></i>
                       </div>
                    </div>
                    <div class="col-md-9">
                       <div class="test_box text_align_left">
                          <h4>randomised</h4>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or  words which don't look even slightly believable. If you are going</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="carousel-item">
           <div class="container">
              <div class="carousel-caption testi">
                 <div class="row d_flex">
                    <div class="col-md-3">
                       <div class="pro_file">
                          <i><img class="text_align_right" src="{% static 'images/test2.png' %}" alt="#"/></i>
                       </div>
                    </div>
                    <div class="col-md-9">
                       <div class="test_box text_align_left">
                          <h4>randomised</h4>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or  words which don't look even slightly believable. If you are going</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="carousel-item">
           <div class="container">
              <div class="carousel-caption testi">
                 <div class="row d_flex">
                    <div class="col-md-3">
                       <div class="pro_file">
                          <i><img class="text_align_right" src="{% static 'images/test2.png' %}" alt="#"/></i>
                       </div>
                    </div>
                    <div class="col-md-9">
                       <div class="test_box text_align_left">
                          <h4>randomised</h4>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or  words which don't look even slightly believable. If you are going</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <a class="carousel-control-prev" href="#testi" role="button" data-slide="prev">
     <i class="fa fa-angle-left" aria-hidden="true"></i>
     <span class="sr-only">Previous</span>
     </a>
     <a class="carousel-control-next" href="#testi" role="button" data-slide="next">
     <i class="fa fa-angle-right" aria-hidden="true"></i>
     <span class="sr-only">Next</span>
     </a>
  </div>
</div>
<!-- end clients -->
<!-- news -->
<div class="news padd_rl30">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="titlepage text_align_left">
              <h2>Latest <span>News</span></h2>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-lg-6">
           <div class="latest text_align_left">
             <figure><img src="{% static 'images/news1.png' %}" alt="#"/></figure>
             <div class="dist">
             <h3>Eader will be distracted by the read</h3>
             <p>established fact that a rable content of a page when looking at its layout. The point of using Lorem Ipsumeader will be distracted by the read</p>
             </div>
           </div>
           <a class="read_more" href="{%url 'news'%}">Read More</a>
        </div>
        <div class="col-lg-6">
           <div class="latest text_align_left">
             <figure><img src="{% static 'images/news2.png' %}" alt="#"/></figure>
             <div class="dist">
             <h3>Eader will be distracted by the read</h3>
             <p>established fact that a rable content of a page when looking at its layout. The point of using Lorem Ipsumeader will be distracted by the read</p>
             </div>
           </div>
           <a class="read_more" href="{%url 'news'%}">Read More</a>
        </div>
     </div>
  </div>
</div>
<!-- end news -->
<!-- contact -->
<div class="contact padd_rl30">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
           <div class="titlepage text_align_left">
              <h2>Get In Touch</h2>
           </div>
        </div>
    </div>
     <div class="row">
        <div class="col-lg-6">
         <form id="request" class="main_form" method="post">
            {% csrf_token%}
            <div class="row">
               <div class="col-md-12 ">
                  {% bootstrap_form form %}
               </div>
              
              
               
               <div class="col-md-12">
                  <button class="send_btn" type="submit">Send</button>
               </div>
            </div>
         </form>
        </div>
      
     </div>
  </div>
</div>
{% endblock content%}